/**
 * General style.
 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 80%;
    display: inline-block;
}

nav{
    position: fixed;
    width: 100%;
    padding: 20px;
}

#logo {
    margin-right: 0.5rem;
}

#contact {
    margin-top: 500rem;
}

a {
    color: black;
    text-decoration-line: none;
    display: block;
    transition: background-color;
    transition-duration: 5s;
}

a:hover {
    background-color: palevioletred;
}