/**
 * General style.
 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div {
    margin: 1rem;
}

div,i {
    font-size: 3rem;
}

/* Img ping pong */
.img {

}

